body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #1783E8; /* Background color */
}

h1, h2 {
    text-align: center;
    color: #fff; /* Text color */
}

/* Container for buttons and image */
.button-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for horizontal button layout */
.button-container-horizontal {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adds space between the buttons */
    margin-bottom: 20px;
}

/* Style for calendar buttons */
.calendar-button, .status-button {
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    font-size: 16px;
}

.calendar-button:hover, .status-button:hover {
    background-color: #ddd;
}

/* Image container */
.image-container {
    margin-top: 20px; /* Adds space between buttons and image */
}

.logo-image {
    max-width: 200px; /* Limit the width of the logo */
    height: auto;
}

.selected-range {
    background: #ffe066 !important;
}
