body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: aquamarine; /* Set the background color to aquamarine */
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.calendar-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #333;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

.calendar-button:hover {
    background-color: #ddd;
}
