<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to Robot Scheduler</h1>

    <h2>Select a Calendar:</h2>

    <div class="button-image-container">
        <!-- Container for buttons in a horizontal line -->
        <div class="button-container-horizontal">
            <a href="{{ url_for('calendar', calendar_type='ur') }}" class="calendar-button">View UR10 Calendar</a>
            <a href="{{ url_for('calendar', calendar_type='robot2') }}" class="calendar-button">View Robot 2 Calendar</a>
            <a href="{{ url_for('calendar', calendar_type='robot3') }}" class="calendar-button">View Robot 3 Calendar</a>
            <a href="{{ url_for('status') }}" class="status-button">View Status Reports</a>
        </div>

        <!-- Image container for the logo, below the buttons -->
        <div class="image-container">
            <img src="{{ url_for('static', filename='images/Logo.PNG') }}" alt="Logo" class="logo-image">
        </div>
    </div>
</body>
</html>
